input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; // 去除safari浏览器的内阴影
}
input[type="submit"] {
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
}

.test-box {
  width: 700px;
  margin: 0 auto;
}

.gjxx-db {
  .box {
    box-sizing: border-box;

    position: relative;
    padding: 26% 0 0 19%;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .sign-in {
    position: relative;
    padding: 2% 0 3%;
    input {
      width: 30%;
      height: 38px;
      line-height: 38px;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 4px;
      border: none;
      padding: 0 1em;
      font-size: 14px;
      margin-right: 2%;
    }
    input[type="submit"] {
      background-color: #ff8921;
      color: #fff;
      &.yellow{
        background-color: #fffc00;
        color: #503706;
      }
    }
  }
  .vertical {
    padding: 3% 3% 3% 57%;
    .sign-in {
      padding: 20% 0 3% 6%;
      input {
        width: 63%;
        margin-right: 0;
        margin-bottom: 2%;
      }
      input[type="submit"] {
        width: 25%;
        padding: 0 6%;
        line-height: 20px;
        position: absolute;
        top: 37%;
        right: 6%;
        height: 54%;
        white-space: normal;

        font-size: 16px;
        color: #484308;
      }
    }
  }
}

.gjxx-bd {
  .box {
    box-sizing: border-box;

    position: relative;
    padding: 35% 2% 3%;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  .sign-in {
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(255, 133, 89, 0.42);
    border-radius: 10px;
    text-align: center;

    position: relative;
    padding: 3% 0;
    input {
      width: 23%;
      height: 48px;
      line-height: 48px;
      font-size: 14px;
      padding: 0 1em;
      box-sizing: border-box;
      background-color: #eee;
      border-radius: 4px;
      border: none;
      margin: 0 2px;
    }
    input[type="submit"] {
      background-color: #ff8921;
      color: #fff;
    }
  }
}

@media screen and (max-width: 750px) {
  $browser-default-font-size: 75px !default;
  @function pr($px) {
    @return $px / $browser-default-font-size * 1rem;
  }
  .test-box {
    width: 100%;
  }
  .gjxx-db {
    .box {
      padding: 30% 0 0 19%;
    }
    .sign-in {
      padding: 2% 0 2%;
      input {
        height: pr(50px);
        line-height: pr(50px);
        border-radius: pr(4px);
        font-size: pr(24px);
      }
    }
    .vertical {
      padding: 3% 3% 3% 57%;
      .sign-in {
        padding: 25% 0 3% 6%;
        input {
          width: 60%;
          margin-bottom: 3%;
        }
        input[type="submit"] {
          width: 28%;
          line-height: pr(24px);
          font-size: pr(24px);
        }
      }
    }
  }
  .gjxx-bd {
    .sign-in {
      box-shadow: 0px pr(8px) pr(16px) 0px rgba(255, 133, 89, 0.42);
      border-radius: pr(10px);
      input {
        height: pr(50px);
        line-height: pr(50px);
        font-size: pr(22px);
        border-radius: pr(4px);
        margin: 0 pr(2px);
      }
    }
  }
}
